@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
body.darkMode {
  background-color: black;
  color: white;
}
body.inverse-dark {
  background-color: white;
  color: black;
}
.ScrollToTop {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 999;
}
.switch {
  position: absolute;
  top: 25px;
  left: 80%;
  z-index: 998;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: cornsilk;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(226, 140, 140);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #000;
}
input:focus + .slider {
  box-shadow: 0 0 1px #000;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
  color: red;
  border: red 4pt;
}
.slider.round:before {
  border-radius: 50%;
}
.sun {
  position: relative;
  right: 30px;
  top: 15%;
  background: url("./resources/images/sun.png");
  background-size: 100%;
  width: 26px;
  background-repeat: no-repeat;
  height: 26px;
}
.moon {
  position: relative;
  left: 48px;
  top: -24px;
  background: url("./resources/images/moon.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
}
.handWave {
  height: 80px;
}
.pic {
  height: 150px;
  border-radius: 50%;
}
.Header {
  text-align: left;
  color: White;
  background-color: black;
  height: max-content;
  padding: 20% 0 20% 20%;
}
.Header.inverse-dark {
  background-color: white;
  color: black;
}
.Intro {
  text-align: left !important;
  font-size: 16pt;
  padding-left: 40px;
  padding-top: 50px;
}
.About {
  background-color: black;
  color: white;
  text-align: left;
}
.About.inverse-dark {
  background-color: white;
  color: black;
}
.Name {
  font-weight: bolder;
  font-size: 38pt;
}
.SectionTitle2 {
  color: blue;
}
.SectionTitle {
  color: blue;
  display: inline-block;
}
.SectionDescription {
  padding-top: 50px;
  padding-left: 40px;
}
.s2 {
  height: fit-content;
}
.project-image {
  position: absolute;
  height: 50px;
  width: 70px;
  left: -20px;
}
.tech-used {
  border: blue 2px solid;
  border-radius: 5%;
  padding: 8px;
  font-family: monospace;
  text-align: center;
  font-weight: 800;
  color: blue;
  width: fit-content;
}
.margina {
  padding-left: 20px;
}
.footer-left {
  position: absolute;
  left: 30px;
  bottom: 0.01;
  font-weight: bold;
  padding: 20px;
  display: inline-block;
}
.footer-right {
  position: absolute;
  bottom: 1;
  right: 50px;
  padding: 20px;
}
.highLightOnHover {
  font-weight: 700;
  text-decoration: none;
}
.highLightOnHover:hover {
  background-color: blue;
  color: white;
}
.handWave:hover {
  height: 80px;
  position: relative;
  cursor: pointer;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation: wink 0.5s alternate infinite; /* Safari 4+ */
  -moz-animation: wink 0.5s alternate infinite; /* Fx 5+ */
  -o-animation: wink 0.5s alternate infinite; /* Opera 12+ */
  animation: wink 0.5s alternate infinite; /* IE 10+, Fx 29+ */
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
  animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wink {
  0% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

/* Standard syntax */
@keyframes wink {
  0% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
